@use '../abstract/' as *;

.login-container{
    padding-top: 1.5rem;
    @include flexCenter(column);
    .logo-text-login{

        padding-bottom: 0.55em;
    }

    #login-alert{

        width: fit-content;
     
        
    }

    #login-form{
        
        padding: 2.1rem;
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out; /* Adjust the duration and easing as needed */
  }