@use "../abstract/" as *;


.generic-section{
  @include flexCenter(column);
  align-items: start;
  

  margin: 2rem;

  
 
}

.profile-container {
  @include flexCenter;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap-reverse;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;

  gap: 2rem;

  .profile-form {

    
 

    &__inputs {
     
      height: 1.99rem;
  
    }
  }
}

.profile__img-wrapper {

  @include flexCenter(column);
  justify-content: start;
  align-items: start;
  width: fit-content;


  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
}
