@use "../abstract/extend";




.tagline {
  @extend %tagline;

  #monitors-text {
    color: #50c878;
  }

  #tracks-text {
    color: #006fb9;
  }
}


.home-container{

  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}