

.login-container{

    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

    .logo-text-login{

        padding-bottom: 0.55em;
    }

    #login-alert{

        width: fit-content;
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out; /* Adjust the duration and easing as needed */
  }