/* Error: Expected expression.
 *   ,
 * 6 |     justify-content: ;
 *   |                      ^
 *   '
 *   pages\_user.scss 6:22  @use
 *   _main.scss 11:1        root stylesheet */
/* line 9, main/static/main/style.css */
body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a   \2577 \a 6 \2502      justify-content: ;\d\a   \2502                       ^\a   \2575 \a   pages\\_user.scss 6:22  @use\a   _main.scss 11:1        root stylesheet"; }
