asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
crispy-bootstrap5==2023.10
dj-database-url==2.1.0
Django==4.2.9
django-appconf==1.0.6
django-bootstrap-v5==1.0.11
django-compressor==4.4
django-crispy-forms==2.1
django-libsass==0.9
django-sass==1.1.0
django-sass-processor==1.4
gunicorn==21.2.0
idna==3.6
libsass==0.23.0
packaging==23.2
psycopg2-binary==2.9.9
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
rcssmin==1.1.1
requests==2.31.0
rjsmin==1.2.1
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
whitenoise==6.0.0
