asgiref==3.7.2
beautifulsoup4==4.12.3
crispy-bootstrap5==2023.10
Django==4.2.9
django-appconf==1.0.6
django-bootstrap-v5==1.0.11
django-compressor==4.4
django-crispy-forms==2.1
django-libsass==0.9
django-sass==1.1.0
django-sass-processor==1.4
libsass==0.23.0
psycopg2-binary==2.9.9
rcssmin==1.1.1
rjsmin==1.2.1
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.4
whitenoise==6.0.0
