{% load static %} 
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    {% bootstrap_css %}
   
    <link rel="stylesheet"  href="{% static 'style.css' %}">
    
    <title>{% block title %} MoniTrack {% endblock %}</title>
  </head>
  <body>

    <nav class="nav-bar">

      {% block nav_bar %} {% endblock %}

    </nav>

    <main class="register-page">
      {% block content %}
      <h1>hello</h1>
      {% endblock %}
     
    </main>

  {% bootstrap_javascript %}
  </body>
</html>
