{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load bootstrap5 %} 
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/latest.png' %}"
    />
    {% block head %} {% endblock %}

    <title>{% block title %} MoniTrack {% endblock %}</title>
  </head>
  <body>
    <nav class="nav-bar">{% block nav_bar %} {% endblock %}</nav>

    <main class="register-page">
      {% block content %}
      <h1>hello</h1>
      {% endblock %}
    </main>

    {% bootstrap_javascript %}
    {% block js %} {% endblock %}
   
  </body>
</html>
