{% extends 'home/base.html' %} {% block title %} {% if user.is_authenticated %}
MoniTrack | {{ user.last_name }} {% endif %} {% endblock %} {% block nav_bar %}

<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo-text nav-logo" href="#">MoniTrack</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'user' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'log_out' %}">Log Out </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %} {%block content %}


{% if messages %} 
{% for message in messages %}
  <div
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
    style="width: fit-content"
  >
    <strong>Holy Macaroni!</strong> {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{% endfor %}
{% endif %}

<section class="generic-section">
  
  <div class="public-profile">
    <h1>Public Profile</h1>
  </div>
<div class="line"></div>
  <div class="profile-container">
    <form action="{% url 'profile' %}" method='POST' class="gap-2 row profile-form" id="profile-form">
      {% csrf_token %} 
      <div class="col-sm-8">
        <label for="profile__first-name">First Name</label>
        <input
          type="text"
          class="form-control profile-form__inputs input"
          id="profile__first-name"
          value="{{user.first_name}}"
          name = "first_name"
          {{form.first_name.attr}}
        />
      </div>
      <div class="col-sm-8">
        <label for="profile__last-name">Last Name</label>
        <input
          type="text"
          class="form-control profile-form__inputs input"
          id="profile__last-name"
          value="{{user.last_name}}"
          name="last_name"
          {{form.last_name.attr}}
        />
      </div>
      <div class="col-sm-8
      ">
        <label for="profile__section">Section</label>
        <select
          class="form-select form-control profile-form__inputs input"
          id="profile__section"
          name="section"
          {{form.section.attr}}
        >
          <option selected>{{user.section}}</option>
          <option value="C1">C1</option>
          <option value="C2">C2</option>
          <option value="C3">C3</option>
          <option value="C4">C4</option>
          <option value="C5">C5</option>
          <option value="C6">C6</option>
          <option value="C7">C7</option>
          <option value="C8">C8</option>
        </select>
      </div>

      <div class="col-sm-8
      ">
        <label for="profile__student-number">Student Number</label>
        <input
          type="number"
          class="form-control profile-form__inputs input"
          id="profile__student-number"
          value="{{user.student_number}}"
          name="student_number"
          {{form.student_number.attr}}
        />
      </div>
      
    </form>
    <div class="profile__img-wrapper">
      
    {% if user.profile_pic %}
     <label for="profile-pic">Profile Picture</label>

       <img src="{{ user.profile_pic.url }}" alt="Profile Image" id="profile-pic" />
   
    {% endif %}
     
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" form="profile-form" >Save</button>
  </div>
 
  <div id="error-container" class="mt-3">
    {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Error(s):</strong>
        <ul>
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</section>

{%endblock%}
