{% extends 'home/base.html' %}


{% block head %} 

  {% load static %}
  <script src="{% static 'session.js' %}"></script> 


{% endblock %}





{% block title %} 
  {% if user.is_authenticated %}
    MoniTrack | {{ user.last_name }}
  {% endif %}
{% endblock %} 


{% block nav_bar %} 


  <div class="container user-nav-bar">
    <h1 class="logo-text">MoniTrack</h1>
    <div class="tagline">
      <p><span id="monitors-text">Monitors</span> your security</p>
      <p><span id="tracks-text">Tracks </span>your Progress</p>
    </div>

  </div>

{% endblock %}


{% block content %}
  <!-- {% if user.is_authenticated %}
    <h1>Hello {{ user.username }}</h1>
  
  {% else %}


  {% endif %}
  
  <a href= "/logout" >Log Out </a> -->
  


{% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy Macoroni!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
 
{% endif %}


  <div class="information-container container-fluid ">
    
    <section class="user-information">

      <div class="user-details-container">

        <div class="user-wrapper  container-fluid">
          <legend>USER DETAILS:</legend>
          <input class="form-control user-data" type="text" value="Name: {{user.first_name}} {{user.last_name}}" aria-label="First Name" readonly>
          <input class="form-control user-data" type="text" value="Student No.: {{user.student_number}} " aria-label="Student Number" readonly>
          <input class="form-control user-data" type="text" value="Section: {{user.section}}" aria-label="Section" readonly>

        </div>

      </div>

    </section>

    <section class="login-information">

      <div class="login-details-container">

    
        <div class="user-wrapper container-fluid">
          <legend>SESSION:</legend>
          {% if login_date %}
           <p>You logged in on: {{ login_date|date:"F j, Y" }}</p>
          {% endif %}
          {% if login_date %}
            <p>You logged in at: {{ login_date|time:"H:i" }}</p>
          {% endif %}
          <input class="form-control user-data" type="text" value="{{user.section}}" aria-label="Section" readonly>

        </div>

      </div>

      <p>
        {{message}}
      </p>

    </section>

     <a href="{% url 'log_out'%}"><button type="button" class="btn btn-success">Log Out</button></a>
  
  </div>


{% endblock %}
