@use '../abstract/' as *;
%btn {
  background: $btn-color;
  width: clamp(6em, 8em, 13em);
  height: 3.5em;
  border-radius: 8em;
  border: 1px solid transparent;
  color: $primary-text-color;

}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  @extend %btn;
}
.btn-primary {
  // background-color: #50c878;
  transition: background-color 10ms ease-in-out;
}

.btn-primary:hover {
  border-color: #053f1867;
  box-shadow: 0 0 0 0.2rem rgba(4, 247, 105, 0.25);
  background: #053f1867;
}

.btn-secondary:hover {
  border: none;
  background-color: #50c878;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
