@use '../abstract/' as *;

.login-container{
    height: 100vh;
    @include flexCenter(column);
    .logo-text-login{

        padding-bottom: 0.55em;
    }

    #login-alert{

        width: fit-content;
     
        
    }

    #login-form{
        
        padding: 2.1rem;
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out; /* Adjust the duration and easing as needed */
  }

  .create-acc{
    p{
        margin-top: 2em;
    }
  }