//_user.scss

@use '../abstract/' as *;


.navbar{
  .nav-logo{
    font-size: 2.5rem;
  }
}


.content-section {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;

 
  legend{
    text-align: center
  }

  .information-container {
    margin-top: 5em;
    width: 27em;
    @include flexCenter(column);
    gap: 1.2em;

    @include form-style;
  
   

  }


  padding: 1.5em;

}

#stopwatch{
  // background: gray;
}

.big-clock {
  font-size: 50px; /* Adjust the font size as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.duration-label {
  font-size: 24px;
}

.time {
  display: flex;
}

.unit {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 18px;
}


