@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.tagline {
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  padding: 50px;
}

body {
  margin: 0;
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url(/static/assets/polygon-scatter-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 900/540;
  width: 100%;
  height: 100vh;
  color: white;
}

html {
  scroll-behavior: smooth;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.logo-text {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(90deg, #01ff55 25%, #028ce7 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  color: transparent;
  font-size: 4.5rem;
  text-align: center;
  cursor: pointer;
}

a {
  border: none;
  text-decoration: none;
}

.input:focus {
  background: #1a2b3a;
  color: white;
}

.input {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(5, 63, 24, 0.4039215686);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(4, 247, 105, 0.25) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input {
  backdrop-filter: blur(3px);
}

.btn {
  background: rgb(78, 211, 100);
  width: 8em;
  height: 3.5em;
  border-radius: 8em;
  border: 1px solid transparent;
  color: white;
  font-size: 13em;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-primary {
  transition: background-color 10ms ease-in-out;
}

.btn-primary:hover {
  border-color: rgba(5, 63, 24, 0.4039215686);
  box-shadow: 0 0 0 0.2rem rgba(4, 247, 105, 0.25);
  background: rgba(5, 63, 24, 0.4039215686);
}

.btn-secondary:hover {
  border: none;
  background-color: #50c878;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#monitrack-logo-1 {
  margin: 40px 10px 20px 10px;
}

.container-fluid .btn-secondary {
  display: flex;
  width: 100px;
  height: 50px;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagline #monitors-text {
  color: #50c878;
}
.tagline #tracks-text {
  color: #006fb9;
}

.signup-container {
  margin-top: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding-right: 1.8em;
  gap: 0;
  width: fit-content;
}
.user-nav-bar .logo-text {
  font-size: 2.5rem;
}
.user-nav-bar .tagline {
  font-size: 0.7rem;
  padding: 10px;
  padding-right: 30px;
  line-height: 0.5em;
}

.content-section {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}
.content-section .information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  width: fit-content;
}
.content-section .information-container .form-control {
  text-indent: 0.49em;
  width: 17em;
  border-radius: 8em;
}
.content-section .information-container .form-control:focus {
  border-color: rgba(5, 63, 24, 0.4039215686);
  box-shadow: 0 0 0 0.2rem rgba(4, 247, 105, 0.25);
}
.content-section .logout-btn {
  background: rgb(78, 211, 100);
  width: 8em;
  height: 2.5em;
  border-radius: 8em;
  border: 1px solid transparent;
  color: white;
}
.content-section .logout-btn:hover {
  border-color: rgba(5, 63, 24, 0.4039215686);
  box-shadow: 0 0 0 0.2rem rgba(4, 247, 105, 0.25);
  background: rgba(5, 63, 24, 0.4039215686);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.login-container .logo-text-login {
  padding-bottom: 0.55em;
}
.login-container #login-alert {
  width: fit-content;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out; /* Adjust the duration and easing as needed */
}

/*# sourceMappingURL=style.css.map */
