%btn {
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 600;
  color: #1e1e1e;
  font-size: 2rem;
  padding: 20px 40px 20px 40px;
  border-radius: 100px;
  max-width: 275px;
  max-height: 100px;
  background: white;
  border: none;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  @extend %btn;
}
.btn-primary {
  background-color: #50c878;
  transition: background-color 10ms ease-in-out;
}

.btn-primary:hover {
  background-color: transparent;
  color: #1e1e1e;
  border: 3px solid #006fb9;
}

.btn-secondary {
  border: 3px solid #006fb9;
  transition: background-color 10ms ease-in-out;
}

.btn-secondary:hover {
  border: none;
  background-color: #50c878;
}
