body {
  margin: 0;
  text-rendering: optimizeSpeed;
}

html {
  scroll-behavior: smooth;
}
*,
:after,
:before {
  box-sizing: border-box;
}

.logo-text {
  text-shadow: 0px 2px 2px #00000040;
  background: var(
    --Blue-Green,
    linear-gradient(90deg, #01ff55 25%, #028ce7 100%)
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Outfit-ExtraBold", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 4.5rem;
  text-align: center;
}
